/* Color variables */

$white: #fff;
$dark-blue: #2f92dd;
$marine: rgb(47, 146, 221);
$skyblue: rgb(42, 152, 206);
$turquoise: rgb(36, 167, 188);
$green: rgb(26, 188, 156);
$footerbg: rgb(65, 79, 92);
$lightgreybg: rgb(97, 112, 126);
$grey-text: rgb(178, 178, 178);
$grey-bg: #f8f8f8;

/* Breakpoints */

$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;
